[Desktop Entry]
Name=Email
Comment=Fast, beautiful desktop email client
Exec=email
Icon=com.bemanuel.mail
Type=Application
Categories=Network;Email;
StartupWMClass=Email
StartupNotify=true
